body {
	margin: 0;
	padding: 0;
}

#topics {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#topics li {
	position: relative;
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 10px;
	margin: 20px 10px;
}

.vote {
	float: left;
	text-align: center;
	margin-right: 20px;
}

.vote-button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid black;
}

.vote-button:hover {
	background-color: #2fa;
}

.topic-owner {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #333;
}

#submit-topic-form {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 1;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 30px;
	border-top: 2px solid #ccf;
	background-color: #aaf;
}